(<%= link_to 'Back', purchase_requisitions_path %>)
<%= render 'form', employee: @employee %>

<h2> Events in Lists </h2>

<% if !@purchase_requisition.employees.blank? %>
	<% for employee in @purchase_requisition.employees %>
		<% if employee.name != nil %>
			<li> <%= employee.name %>
		<% end %>
	<% end %>
<% else %>
	No Events created so far.
<% end %>
