<h1>Editing Purchase Requisition</h1>

<%= render 'form', purchase_requisition: @purchase_requisition %>

<%= link_to 'Show', @purchase_requisition %> |
<%= link_to 'Back', purchase_requisitions_path %>
