<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <a href="/purchase_requisitions" class="w3-bar-item w3-button">新增請購單</a>
  <a href="/employees" class="w3-bar-item w3-button">新增員工</a>
  <a href="/companies" class="w3-bar-item w3-button">新增公司</a>
</div>